body{
    background-color: rgb(243, 240, 237);
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 30px;
}
a{
    font-family: 'Permanent Marker', cursive;
    font-size: 2em;
    text-decoration: none;
    color: black;
}
a:hover{
    color: rgb(59, 59, 59);
    font-size: 2.007em;
}